.backlog {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 10px;
    height: auto;
    font-family: 'Roboto', sans-serif;
    
}

.table {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.inputOff {
    display: none;
}

.inputOn {
    display: block;
}

.input {
    height: 35px;
    border-radius: 5px;
    background: #FFFFFF;
    border: 0 none;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;

}

.button_box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.addTask,
.btnSubmitOn {
    display: block;
    background-color: #EBECF0;
    color: #5E6C84;
    border: 0 none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.btnSubmitOff {
    display: none;
}