


.conteiner {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  max-width: 1200px;
  margin:50px auto;
  background-color: #0079BF;
}

.block {
  width: 230px;
  max-height: 400px;
  overflow: auto;
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Roboto', sans-serif;
  justify-content: space-between;
  background-color: #ebecf0;
  padding: 10px;
  border-radius: 10px;
  margin: 30px 7px;
}

h1 {
  font-size: 18px;
  margin: 0;
}


